#titulo{
  text-align: center;
  background-color: beige;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 3%;
}

#logged{
  text-align: center;
  /* background-color: beige; */
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 3%;
}

#pun-total{
  text-align: center;
  background-color: rgb(230, 245, 220);
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 45rem;
  margin-right: 45rem;
  margin-top: 3%;
}

#pun-amb{
  text-align: center;
  background-color: rgb(230, 245, 220);
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 45rem;
  margin-right: 45rem;
  margin-top: 5%;
}

.parraf{
  background-color: #dbffd8;
  margin-top: 3%;
  margin-left: 15rem;
  margin-right: 15rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  
}

.parraf-last{
  /* background-color: #dbffd8; */
  margin-top: 2%;
  margin-left: 15rem;
  margin-right: 15rem;
  margin-bottom: 5%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}

.content {
  display: flex;
}

.mask {
  position: relative;
  overflow: hidden;
  display: block;
  width: 12.5rem;
  height: 6.25rem;
  margin: 1.25rem;
}

.semi-circle {
  position: relative;
  display: block;
  width: 12.5rem;
  height: 6.25rem;
  background: linear-gradient(to right, #c0392b 0%, #f1c40f 50%, #1abc9c 100%);
  border-radius: 50% 50% 50% 50%/100% 100% 0% 0%;
}
.semi-circle::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  display: block;
  width: 8.75rem;
  height: 4.375rem;
  margin-left: -4.375rem;
  background: #fff;
  border-radius: 50% 50% 50% 50%/100% 100% 0% 0%;
}


/* Primer Slide */
.semi-circle--mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 12.5rem;
  height: 12.5rem;
  background: transparent;
  transform: rotate(180deg) translate3d(0, 0, 0);
  transform-origin: center center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.semi-circle--mask::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  z-index: 2;
  display: block;
  width: 12.625rem;
  height: 6.375rem;
  margin: -1px 0 0 -1px;
  background: #f2f2f2;
  border-radius: 50% 50% 50% 50%/100% 100% 0% 0%;
}

.gauge--2 .semi-circle--mask {
  transform: rotate(20deg) translate3d(0, 0, 0);
}

#pos-total {
  display: flex;
  justify-content: center;
  margin-top: 10px;
} 

.item {
  width: 30px;
  height: 3rem;
  margin: 20px;
  font-size: 4rem;
  position: absolute;
}

i {
  color: black;
  position: absolute;
  top: 35px;
  z-index: 5;
}

.arrow1 {
  transform: rotate(-90deg);
  transform-origin: bottom;
  animation: slide3 3s ease-in-out infinite;
}
.arrow2{
  transform: rotate(-90deg);
  transform-origin: bottom;
  animation: slide3 3s ease-in-out infinite;
}
.arrow3 {
  transform: rotate(-90deg);
  transform-origin: bottom;
  animation: slide3 3s ease-in-out infinite;
}
.arrow4 {
  transform: rotate(-90deg);
  transform-origin: bottom;
  animation: slide3 3s ease-in-out infinite;
}
.arrow5 {
  transform: rotate(-90deg);
  transform-origin: bottom;
  animation: slide3 3s ease-in-out infinite;
}

.ScoreNumbers{
  text-align: center;
  background-color: #e2f1f19f;
  margin-left: 48.5%;
  margin-right: 48.5%;
}


 /* @keyframes slide3 {
  0%,
  100% {
    transform: rotate(-90deg);
  }

   50% {
    transform: rotate(90deg);
  }
} */


/* .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
} */

/* @media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.conteiner{
  min-height:100vh; 
  display:flex; 
  flex-direction:column; 
  justify-content:space-between;
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: fixed;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
} 

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
} */













